<!DOCTYPE html>
<html>
<head>
  <title>meetup</title>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<style type="text/css">
  pre {
    font-size: 8pt;
    letter-spacing: 4px;
    line-height: 8pt;
    font-weight: bold;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
</style>
<body class="<%= params[:controller]+'-'+params[:action] %>">
<div class="navbar clearfix">
  <div class="container">
    <%=link_to "Meetup","/", class: "navbar-brand"%>
    <ul class="nav left">
      <li><%= link_to t("navbar.about"), "/about" %></li>
      <li><a href="#">placeholder</a></li>
    </ul>
    <ul class="nav right">
      <% if current_user %>
        <li><%= link_to current_user.name, "#" %></li>
        <li><%= link_to "logout", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "login", login_path %></li>
        <li><%= link_to "signup", signup_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<% if flash.notice %>
  <div class="notice"><%= flash.notice %></div>
<% end %>
<%= yield %>
<div class="footer">
  <div class="container">
    <%= render 'shared/image_to_text'%>
    <%= render 'shared/hide_image_to_text'%>
  </div>
</div>
<script>
  $('.home-banner').anystretch();
    var hideNotice = function(){
        $(".notice").fadeOut("slow");
    }
    setTimeout(hideNotice, 4000);
    $(function() {
      // 纯文字
      $().figlet("Meetup");
      // 图案
      console.log($('pre.console_image').text())
    });
</script>
</body>
</html>
