<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>meetup</title>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= params[:controller]+'-'+params[:action] %>">
<div class="navbar clearfix">
  <div class="container">
    <%=link_to "Meetup","/", class: "navbar-brand"%>
    <ul class="nav left">
      <li><%=link_to "About","/about"%></li>
      <li><a href="#">placeholder</a></li>
    </ul>
    <ul class="nav right">
      <% if current_user %>
        <li><%= link_to current_user.name, "#" %></li>
        <li><%= link_to "logout", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "login", login_path %></li>
        <li><%= link_to "signup", signup_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<%= yield %>
<div class="footer">
  <div class="container">
    footer
  </div>
</div>
</body>
</html>
